{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "lustre-client-installer.fullname" . }}-crb
  labels:
    {{- include "lustre-client-installer.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "lustre-client-installer.name" . }}-cr
subjects:
  - kind: ServiceAccount
    name: {{ include "lustre-client-installer.name" . }}-sa
    namespace: {{ .Release.Namespace }}
{{- end }}