apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "lustre-client-installer.fullname" . }}-cm # Using fullname for ConfigMap
  labels:
    {{- include "lustre-client-installer.labels" . | nindent 4 }}
data:
  lustre-client-install.sh: |
    #!/bin/bash
    set -euo pipefail

    # Log function for consistent logging
    log() {
        echo "$(date -u +"%Y-%m-%dT%H:%M:%S.%3NZ") - $1"
    }

    if [[ -f /etc/os-release ]]; then
        . /etc/os-release
    else
        log "Cannot detect OS: /etc/os-release missing"
        exit 1
    fi

    unload_kernel_modules() {
        # Remove Lustre modules, wait for some time for the modules to be removed
        retry=0
        while which lustre_rmmod && ! lustre_rmmod && [ $retry -lt 10 ]
        do
            log "Failed to unload Lustre modules, retry=$retry"
            sleep 30
            retry=$((retry+1))
        done

        if [ $retry -eq 10 ]; then
            log "Failed to unload Lustre modules after 5 minutes, this node likely require a reboot"
            exit 1
        fi

        log "Successfully unloaded Lustre modules, proceeding with Lustre client installation/upgrade"
    }
    
    export SYSTEMCTL_FORCE_BUS=1

    LNET_CONFIG_FILE="/etc/modprobe.d/lnet.conf"

    case "$ID" in
        ubuntu)
            log "Detected Ubuntu ..."
            if [ "$UBUNTU_CODENAME" != "jammy" ]; then
                log "Unsupported OS Version ${VERSION}."
                exit 1
            fi

            if [[ -f "${LNET_CONFIG_FILE}" ]]; then
              log "Lnet config file exists."
              exit 0
            fi

            LUSTRE_PACKAGES_OBJECT_STORE_URL={{ .Values.daemonset.lustreClientURLs.ubuntu }}
            LUSTRE_PKG_DIR="/tmp/lustre-packages"

            unload_kernel_modules

            log "Removing existing lustre packages"
            apt-get remove --purge -y lustre-client-modules-dkms || true
            apt-get remove --purge -y lustre-client-utils || true

            # Make sure all the pre-requisites are installed. Otherwise no point in continuing.
            log "Installing linux headers and images for the running kernel to make sure dependencies are met"
            dpkg --configure -a
            add-apt-repository restricted
            apt-get update --yes

            dpkg --list | grep "linux-headers-$(uname -r) " || ( apt-get install -y --no-upgrade linux-headers-$(uname -r) || ( log "linux-headers-$(uname -r) is not installed. Exiting" && exit 1 ) )
            dpkg --list | grep "linux-image-$(uname -r) " || ( apt-get install -y --no-upgrade linux-image-$(uname -r) || ( log "linux-image-$(uname -r) is not installed. Exiting" && exit 1 ) )
            dpkg --list | grep "linux-base " || ( apt-get install -y --no-upgrade linux-base || ( log "linux-base is not installed. Exiting" && exit 1 ) )

            log "Downloading Lustre client DEBs..."
            
            if [[ -f "/tmp/Ubuntu-Lustre-client-dkms.tgz" ]]; then
              rm -rf /tmp/Ubuntu-Lustre-client-dkms.tgz
            fi
            
            if [[ -d "$LUSTRE_PKG_DIR" ]]; then
              rm -rf "$LUSTRE_PKG_DIR"
            fi
            
            mkdir -p "$LUSTRE_PKG_DIR"
            wget -O /tmp/Ubuntu-Lustre-client-dkms.tgz ${LUSTRE_PACKAGES_OBJECT_STORE_URL}

            tar -xvzf /tmp/Ubuntu-Lustre-client-dkms.tgz -C "$LUSTRE_PKG_DIR"
            
            deb_files=()
            mapfile -t deb_files < <(find "$LUSTRE_PKG_DIR" -type f -name "*.deb" -not -path "*/.*")

            # Install all dependencies prior
            log "Installing depencies seperately to avoid auto install of new kernel versions"
            for pkg in "${deb_files[@]}";
            do
                apt-get install -y $(dpkg -I  "${pkg}" | grep "^ Depends: " | sed -E -e 's/,/ /g' -e 's/(linux-base|linux-image-oracle|linux-image-oracle-amd64|linux-image-oracle-arm64|linux-headers-oracle|linux-headers-amd64)//g' -e 's/[,\|]//g'  -e 's/ +/ /g' | cut -f2 -d:)
            done

            log "Now installing Lustre packages alone without dependencies"
            for pkg in "${deb_files[@]}";
            do
                if ! (apt-get update --yes && dpkg --ignore-depends=linux-image-oracle,linux-headers-oracle,linux-headers-amd64,inux-image-oracle-amd64,linux-image-oracle-arm64,linux-headers-oracle,linux-headers-amd64 -i "${pkg}" && rm -f "${pkg}") then
                    log "Failed to install one or more packages."
                    exit 1
                fi
            done
            log "Packages installed successfully."
            ;;
        ol)
            log "Detected Oracle Linux ..."

            if [ "$PLATFORM_ID" != "platform:el8" ]; then
                log "Unsupported OS Version ${VERSION}."
                exit 1
            fi

            CURRENT_KERNEL_VERSION="$(uname -r)"
            if [[ "${CURRENT_KERNEL_VERSION}" =~ uek ]]; then
                log "RH Compatible Kernel Required. More details here: https://blogs.oracle.com/linux/post/changing-the-default-kernel-in-oracle-linux-its-as-simple-as-1-2-3"
                exit 1
            fi

            if [[ -f "${LNET_CONFIG_FILE}" ]]; then
              log "Lnet config file exists."
              exit 0
            fi

            LUSTRE_PACKAGES_OBJECT_STORE_URL={{ .Values.daemonset.lustreClientURLs.ol }}
            LUSTRE_PKG_DIR="/tmp/lustre-packages"
        
            unload_kernel_modules

            log "Removing existing lustre packages"
            dnf remove -y lustre-client lustre-client-dkms || true
            
            # Make sure all the pre-requisites are installed. Otherwise no point in continuing.

            rpm -q kernel-devel | grep "kernel-devel-$(uname -r)" || ( dnf install -y kernel-devel-$(uname -r) || ( log "kernel-devel-$(uname -r) is not installed. Exiting" && exit 1 ) )
            
            log "Downloading Lustre client RPMs..."
            
            if [[ -f "/tmp/OL8-Lustre-client-dkms.tgz" ]]; then
              rm -rf /tmp/OL8-Lustre-client-dkms.tgz
            fi
            
            if [[ -d "$LUSTRE_PKG_DIR" ]]; then
              rm -rf "$LUSTRE_PKG_DIR"
            fi
            
            mkdir -p "$LUSTRE_PKG_DIR"
            wget -O /tmp/OL8-Lustre-client-dkms.tgz ${LUSTRE_PACKAGES_OBJECT_STORE_URL}
            
            tar -xvzf /tmp/OL8-Lustre-client-dkms.tgz -C "$LUSTRE_PKG_DIR"
            
            rpm_files=()
            mapfile -t rpm_files < <(find "$LUSTRE_PKG_DIR" -type f -name "*.rpm" -not -path "*/.*")

            dnf config-manager --set-enabled ol8_codeready_builder
            dnf install -y libmount-devel

            if ! (dnf install -y --enablerepo ol8_developer_EPEL --enablerepo ol8_codeready_builder --nogpgcheck "${rpm_files[@]}" ) then
                log "Failed to install one or more packages."
                exit 1
            fi

            log "Packages installed successfully."
            ;;
        *)
            log "Unsupported OS: $ID"
            exit 1
            ;;
    esac
    # Try to load the lnet kernel module
    if ! (modprobe lnet && lnetctl help) then
        log "Failed to load kernel module"
        exit 1
    else
        touch "${LNET_CONFIG_FILE}"
        log "Module load test successful. Lustre client ready"
    fi
    exit 0
  setup.sh: |
    #!/bin/bash

    # Copy installation script to host
    cp /tmp/lustre-client-install.sh /host

    # Ensure the scripts is executable
    /usr/bin/nsenter -m/proc/1/ns/mnt -- chmod u+x /tmp/lustre/lustre-client-install.sh

    # Run the Lustre Setup script
    /usr/bin/nsenter -m/proc/1/ns/mnt -n/proc/1/ns/net /tmp/lustre/lustre-client-install.sh

    {{- if (default false .Values.daemonset.nodeLabel.enabled) }}
    LUSTRE_INSTALLATION_STATUS=$?
    echo "Execution status: ${LUSTRE_INSTALLATION_STATUS}"
    if [ "${LUSTRE_INSTALLATION_STATUS}" -eq 0 ]; then
        if (curl -X PATCH \
            -H "Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)" \
            -H "Content-Type: application/merge-patch+json" \
            --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt \
            https://${KUBERNETES_SERVICE_HOST}:${KUBERNETES_SERVICE_PORT}/api/v1/nodes/$NODE_NAME \
            -d '{"metadata": {"labels": {"{{ .Values.daemonset.nodeLabel.key }}": "{{ .Values.daemonset.nodeLabel.value }}"}}}') then
            echo "Node successfuly labeled."
        else
            echo "Failed to label the node."
        fi
    fi
    {{- end }}
    echo "Waiting for 5 seconds..."
    sleep 5
    echo "Task Completed"