{{- if .Values.rbac.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "lustre-client-installer.name" . }}-sa
  labels:
    {{- include "lustre-client-installer.labels" . | nindent 4 }}
{{- end }}