# Default values for lustre-client-installer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# RBAC configuration
rbac:
  create: true # Whether to create RBAC resources (ClusterRole, ClusterRoleBinding, serviceAccount)

# DaemonSet configuration
daemonset:
  serviceAccountName: "lustre-client-installer-sa" #Required when rbac.create is false.
  name: "lustre-client-installer" # Base name for the DaemonSet and its related resources
  
  # Image for the init container that runs the setup scripts
  initContainer:
    image: "fra.ocir.io/idxzjcdglx2s/ubuntu:curl-jq"
    pullPolicy: IfNotPresent

  # Image for the main container (typically a pause container)
  pauseContainer:
    image: "registry.k8s.io/pause:3.3"
    pullPolicy: IfNotPresent

  # Node Labeling configuration after successful installation
  nodeLabel:
    enabled: true # Whether to patch the node with a label
    key: "oci.oraclecloud.com/lustre-client-configured"
    value: "true"

  lustreClientURLs:
    ubuntu: https://objectstorage.us-ashburn-1.oraclecloud.com/p/Z3QL0MuxHN1T_De-uNjny3l1FHrg-RFPQ279Fmf1M5BeLGgeo_609WJ5UEv7pId-/n/idxzjcdglx2s/b/oke/o/lustre/Ubuntu-22.04-Lustre-client-dkms-2.15.5-ns-fix-x64.tar.gz
    ol: https://objectstorage.us-ashburn-1.oraclecloud.com/p/rwCt_j_StXHhHN5dJiECrl2Mj5Aqnm7xyMM0aPtQYm77cIkyAt6LbYny24oUmHBv/n/idxzjcdglx2s/b/oke/o/lustre/OL8-Lustre-client-dkms-2.15.5-ns-fix-x64.tar.gz

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/arch
            operator: In
            values:
            - amd64

  tolerations:
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
    # - key: "CriticalAddonsOnly"
    #   operator: "Exists"